SEGUV3_0924/SEGUV3_mozi.dtd

<!ELEMENT mozi (film*)>

<!ELEMENT film (rendezo+, szinesz+, iro+)>
<!ATTLIST film
    id ID #REQUIRED
    mufaj (horror | drama | vigjatek) #REQUIRED
>

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo
    id ID #REQUIRED
    nev CDATA #REQUIRED
>

<!ELEMENT szinesz (gyerekszinesz?, musicalszinesz?, szinkronszinesz?)>
<!ATTLIST szinesz
    id ID #IMPLIED
    nev CDATA #IMPLIED
>

<!ELEMENT gyerekszinesz EMPTY>
<!ELEMENT musicalszinesz EMPTY>
<!ELEMENT szinkronszinesz EMPTY>

<!ELEMENT iro EMPTY>
<!ATTLIST iro
    id ID #REQUIRED
>


